<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
</head>
<body>
  <header role="banner">
    <nav role="navigation">
      <ol>
        <li><a href="/" title="">Home</a></li>
        <li><a href="/principles/" title="">Principles</a></li>
        <li><a href="/organisation/" title="">Organisation</a></li>
        <li><a href="/syntax/" title="">Syntax</a></li>
        <li><a href="/tutorial/" title="">Tutorial</a></li>
      </ol>
    </nav>
  </header>
  <main role="main">

    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    {{{ contents }}}

    {{#each collections }}
    <h2 class="u-capitalise">{{ @key }}</h2>
      {{#each this }}
        <li><a href="{{ this.path }}">{{ this.title }}</a></li>
      {{/each}}
    {{/each}}
  </main>

  <aside role="complementary">
  </aside>

  <footer role="contentinfo">
    <p>Built with <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by <a href="https://www.netlify.com/">Netlify</a></p>
  </footer>

</body>
</html>
