<!doctype html>
<html lang="en">
{{> head}}
<body>

  <main role="main">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    {{{ contents }}}

    {{#each collections }}
    <h2>Posts</h2>
      <ol>
      {{#each this }}
        <li><a href="{{ this.path }}">{{ this.title }}</a></li>
      {{/each}}
      </ol>
    {{/each}}

  </main>

  {{> aside}}

{{> footer}}

</body>
</html>
